In [ ]:
    # import numpy as np
    # import pandas as pd
    # url = 'https://raw.githubusercontent.com/Pierian-Data/Plotly-Dashboards-with-Dash/master/0-02-Pandas-Crash-Course/salaries.csv'
    # df = pd.read_csv(url, error_bad_lines=False)
    # df

In [40]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objects as go
np.random.seed(42)

In [34]:
rx=np.random.randint(1,101,100)
ry=np.random.randint(1,101,100)

### Scatter

In [32]:
data=[go.Scatter(x=rx, y=ry, mode='markers', marker={'size':12,
                                                    'color':'rgb(51,205,153)',
                                                    'symbol':'pentagon',
                                                    'line': {'width':2}})]
layout=go.Layout(title='Hello Plot', xaxis={'title':'MY X'},yaxis={'title':'My Y'}, hovermode='closest')

fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

### Linechart

In [38]:
rx=np.linspace(0,1,100)
ry=np.random.randn(100)
trace0=go.Scatter(x=rx, y=ry+5, mode='markers', name='markers' )
trace1=go.Scatter(x=rx, y=ry, mode='lines', name='mylines' )
trace2=go.Scatter(x=rx, y=ry-2, mode='lines+markers', name='mylines+markers' )
data=[trace0, trace1, trace2]
layout=go.Layout(title='Line Chart')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [42]:
url='https://raw.githubusercontent.com/Pierian-Data/Plotly-Dashboards-with-Dash/master/SourceData/nst-est2017-alldata.csv'
df = pd.read_csv(url, error_bad_lines=False)

df.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,10.0,0,0,0.0,United States,308745538.0,308758105.0,309338421.0,311644280.0,313993272.0,...,0.000000,0.000000,0.000000,2.720900,2.920371,2.883643,3.173228,3.516743,3.513394,3.423941
1,20.0,1,0,0.0,Northeast Region,55317240.0,55318350.0,55388349.0,55642659.0,55860261.0,...,-6.103092,-6.619089,-5.559570,1.467950,0.779137,0.605873,-0.082832,-0.903931,-1.307503,-0.288930
2,20.0,2,0,0.0,Midwest Region,66927001.0,66929794.0,66973360.0,67141501.0,67318295.0,...,-3.458531,-3.307295,-2.304640,-1.187519,-1.010696,-0.120354,-0.752477,-1.323952,-1.160735,-0.191323
3,20.0,3,0,0.0,South Region,114555744.0,114563024.0,114869241.0,116060993.0,117291728.0,...,3.788037,3.592695,2.900528,5.544289,5.831747,5.362083,6.317310,7.336162,7.113818,6.304010
4,20.0,4,0,0.0,West Region,71945553.0,71946937.0,72107471.0,72799127.0,73522988.0,...,1.613450,2.099001,1.475519,2.798796,3.521423,3.396627,4.163576,5.067452,5.488965,4.737979

In [55]:
df2=df[df['DIVISION']=='1']

In [56]:
df2.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
11,40.0,1,1,9.0,Connecticut,3574097.0,3574114.0,3580171.0,3591927.0,3597705.0,...,-8.376089,-8.106331,-6.206914,0.993851,-0.542726,-0.420268,-2.479362,-3.464252,-3.112421,-1.257548
24,40.0,1,1,23.0,Maine,1328361.0,1328362.0,1327568.0,1327968.0,1328101.0,...,-0.781424,1.807361,4.032798,0.685361,0.178459,0.392308,1.301528,0.389959,3.000731,5.216532
26,40.0,1,1,25.0,Massachusetts,6547629.0,6547808.0,6564943.0,6612178.0,6659627.0,...,-3.270088,-4.423353,-3.374712,4.364383,4.266338,5.211370,4.538697,3.276287,2.261905,3.246090
34,40.0,1,1,33.0,New Hampshire,1316470.0,1316460.0,1316700.0,1318345.0,1320923.0,...,-0.850002,1.333509,3.500622,-0.403029,0.632751,0.061281,3.793602,0.852258,3.037729,5.170643
44,40.0,1,1,44.0,Rhode Island,1052567.0,1052945.0,1053169.0,1052154.0,1052761.0,...,-4.218510,-4.093718,-3.640649,-2.170688,-0.991964,-1.139847,1.029624,0.368598,0.526146,0.891742

In [57]:
df2.set_index('NAME', inplace=True)

In [48]:
col_list=[col for col in df2.columns if col.startswith('POP')]

In [59]:
df2.index

Index(['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire',
       'Rhode Island', 'Vermont'],
      dtype='object', name='NAME')

In [60]:
df2=df2[col_list]

In [61]:
df2.head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
NAME,,,,,,,,
Connecticut,3580171.0,3591927.0,3597705.0,3602470.0,3600188.0,3593862.0,3587685.0,3588184.0
Maine,1327568.0,1327968.0,1328101.0,1327975.0,1328903.0,1327787.0,1330232.0,1335907.0
Massachusetts,6564943.0,6612178.0,6659627.0,6711138.0,6757925.0,6794002.0,6823721.0,6859819.0
New Hampshire,1316700.0,1318345.0,1320923.0,1322622.0,1328684.0,1330134.0,1335015.0,1342795.0
Rhode Island,1053169.0,1052154.0,1052761.0,1052784.0,1054782.0,1055916.0,1057566.0,1059639.0

In [62]:
#Build traces for columns
data=[go.Scatter(x=df2.columns,y=df2.loc[name],mode='lines', name=name) for name in df2.index]
pyo.plot(data)

'temp-plot.html'

### Bar Chart

In [64]:
url='https://raw.githubusercontent.com/Pierian-Data/Plotly-Dashboards-with-Dash/master/Data/2018WinterOlympics.csv'
df = pd.read_csv(url, error_bad_lines=False)

df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

In [69]:
data=[go.Bar(x=df['NOC'], y=df['Total'])]
layout=go.Layout(title="olympics")
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [72]:
trace1=go.Bar(x=df['NOC'], y=df['Gold'], name='Gold', marker={'color':'#FFD700'})
trace2=go.Bar(x=df['NOC'], y=df['Silver'], name='Silver', marker={'color':'#9EA0A1'})
trace3=go.Bar(x=df['NOC'], y=df['Bronze'], name='Bronze', marker={'color':'#CD7F32'})

data=[trace1, trace2, trace3]
layout=go.Layout(title="olympics", barmode='stack')
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [ ]:
##